<a href="https://colab.research.google.com/github/simarad1525/Crowdsouring-instruction/blob/main/Q_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

In [1]:
import pandas as pd
df=pd.DataFrame()

In [2]:
data=[['p',1],['q',3]]

In [3]:
df=pd.DataFrame(data, columns=['letter', 'numbers'])

In [6]:
df.head(5)

  letter  numbers
0      p        1
1      q        3

In [8]:
data1={'Name':['tom','jack','nick','juli'], 'marks':[99,98,95,90]}
df1 = pd.DataFrame(data1, index=['rank1', 'rank2','rank3','rank4'])
df1.head(5)

       Name  marks
rank1   tom     99
rank2  jack     98
rank3  nick     95
rank4  juli     90